<div class="gradient-section">
  <div class="container jcc-fdc">
    <div class="gradient-section__desc">
      
      <h2 class="gradient-section__title tac">{{'Sign up with Aizen today'|_}}</h2>
      <p class="tac">
        {{'So what are you waiting for? Join over 2 million people who’ve found a better way to manage <br> their money online. Sign up to Monese to open your mobile money account today.'|_}}</p>
    </div>
    <div class="tac"><a class="btn btn--light" href="{{this.theme.registration_link}}" target="_blank">{{'Sign up'|_}}</a></div>
  </div>
</div>